.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.whole{
    width: 20rem;
    height: 20rem;
    background-color: rgb(136, 198, 245);
    display: flex;
    overflow-x:scroll ;
    scroll-snap-type: x mandatory;
    border-radius: 50%;
    box-shadow: var(--btn-shadow);
    resize: both;
}

.box{
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10rem ;
    height: 100%;
    scroll-snap-align: center;
    display: 50%;
}

.box:nth-of-type(odd){
    background-color: rgb(0, 102, 255);
    border-radius: 50%;
    color: white;
    

}

.box:nth-of-type(even){
    background-color: rgb(0, 57, 131);
    color: white;
    border-radius: 50%;

}


.pa{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* overflow: auto; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}