<!-- <ng-container *ngFor="let l of langs">
    <label for="{{l}}">
        <input type="checkbox" value="{{l}}" (change)="handleLangs($event)">{{l}}

    </label>
</ng-container> -->

<!-- <div class="wrapper">

  <h1>
    Mat Table Example with Expnad Collapse
  </h1>
  <button (click)="manageAllRows(true)">Expand All</button>
  <button (click)="manageAllRows(false)">Collpase All</button>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">
          <table class="detail-table">
            <tr>
              <th>Avatar</th>
              <th>Phone</th>
              <th>Website</th>
              <th>Company</th>
            </tr>
            <tr>
              <td><img src="https://picsum.photos/id/{{element.id}}/150/100" alt="thumbnail"></td>
              <td>{{element.phone}}</td>
              <td>{{element.website}}</td>
              <td>{{element.company}}</td>
            </tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="element.expanded" (click)="toggleRow(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

<div class="Parent">
  <button (click)="expand()">
    <div class="Header">
      <div class="d-flex col-12 mb-3 border-bottom border border-primary rounded">
        <div class="same">S.no</div>
        <div class="same">User</div>
        <div class="same">Response On</div>
        <div class="same icon"><button><span style="color: var(--text-color);" class="material-icons">arrow_drop_down</span></button></div>
      </div>
      <div class="Footer" *ngIf="OpenState">
        <div class="different">1</div>
        <div class="different">Student</div>
        <div class="different">01-12-2020</div>
        <div class="different"><span style="color: var(--text-color);" class="material-icons">arrow_drop_down</span></div>
      </div>
    </div>
    
  </button>
 
  
</div>



<div class="parent mt-5">
  <button mat-button (click)="closeForm()">Close</button>
  <form [formGroup]="summaForm">
    <div formArrayName="rashid">
      <div *ngFor="let fine of question().controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>FirstName</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>SecondName</mat-label>
            <input matInput formControlName="secondName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>LastName</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
          <button mat-button (click)="addWishes(i)">Add Wishes</button>
          <button mat-button (click)="removePerson(i)">
            <mat-icon>close</mat-icon>
          </button>

          <div formArrayName="wishes">
            <div *ngFor="let wish of personWishes(i).controls; let w = index">
              <div [formGroupName]="w">
                <div class="d-flex">
                  <mat-form-field appearance="outline">
                    <mat-label>Wish</mat-label>
                    <input matInput formControlName="wish" />
                  </mat-form-field>
                  <button mat-button (click)="removeWish(i, w)">
                    <mat-icon style="transform: scale(0.5)">close</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex">
    <button mat-button (click)="submit()" [disabled]="!summaForm.valid">
      submit
    </button>

    <button mat-button (click)="addPerson()" [disabled]="!summaForm.valid">
      ADD
    </button>
  </div>
</div> -->

<!-- <button
  type="button"
  [disabled]="canClick"
  (click)="sayMessage()">
  Trigger alert message
</button>

<p
  [id]="sayHelloId"
  [style.color]="fontColor">
  You can set my color in the component!
</p>

<p>My color is {{ fontColor }}</p> -->

<!-- <h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product && product.price >= 700">
    Description: {{ product.description }}
  </p>

  <button type="button" mat-button (click)="share()">
    Share
  </button>
</div> -->
<!-- <button mat-button (click)="addPerson()">Person</button>

<form [formGroup]="sample">
    <div *ngFor="let fun of samples().controls;let i = index">
        <div [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>FirstName</mat-label>
            <input matInput formControlName="personName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>SecondName</mat-label>
            <input matInput formControlName="age" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>LastName</mat-label>
            <input matInput formControlName="bloodType" />
          </mat-form-field>
          <button mat-button (click)="removePerson(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
    </div>

    <button mat-raised-button (click)="submit()">Submit</button>
</form> -->
<!-- 
    <h1>
      Demo,Practice
    </h1> -->
<!-- <div class="parent">
  <div class="stripes">
    <div class="stripe-left">
      <div class="list">3</div>
    </div>
    <div class="stripe-right">
      <div class="graph">
        <canvas
          baseChart
          class="chart"
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        >
        </canvas>

      </div>

      <div class="other">4</div>
    </div>
  </div>

  <div class="cont">
    <div class="inner-parent">
      <div class="left">
        <div class="title">Total Complaints</div>
        <div class="content">000</div>
      </div>
      <div class="right">
        <div class="icon">
          <mat-icon>info</mat-icon>
        </div>
      </div>
    </div>

    <div class="inner-parent">
      <div class="left">
        <div class="title">Completed</div>
        <div class="content">000</div>
      </div>
      <div class="right">
        <div class="icon">
          <mat-icon>check_circle</mat-icon>
        </div>
      </div>
    </div>

    <div class="inner-parent">
      <div class="left">
        <div class="title">Pending</div>
        <div class="content">000</div>
      </div>
      <div class="right">
        <div class="icon">
          <mat-icon>pending</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-4 fixed-top" >
  <div class="container" #main>
    <a href="#" class="navbar-brand">Bootstrap Exercise</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="scroll(learn)">What you'll learn</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" (click)="scroll(questions)">Questions</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" (click)="scroll(instructors)">Instructors</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- Showcase -->
<!-- <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Become a <span class="text-info">Web Developer</span> </h1>
        <p class="lead my-4">There are no formal educational or license requirements to become a web developer. However, many colleges and trade schools offer coursework in web development. There are also many tutorials and articles which teach web development, often freely available on the web - for example, on JavaScript.</p>
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">Start the Enrollment</button>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="../../assets/showcase.svg" alt="">
    </div>
  </div>
</section> -->

<!-- NewsLetter -->

<!-- <section class="bg-primary text-light p-5">
  <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-md-0">Sign up for our Newsletter</h3>

        <div class="input-group news-input">
          <input type="text" class="form-control" placeholder="Enter Email" >
          <button class="btn btn-dark btn-lg" type="button" >Button</button>
        </div>
      </div>
  </div>
</section> -->


<!-- Boxes -->

<!-- <section class="p-5 " >
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md ">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <mat-icon>laptop</mat-icon>
            </div>
            <h3 class="card-title mb-3">
              Virtual
            </h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate enim neque distinctio quasi quos hic!
            </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md ">
        <div class="card bg-secondary text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <mat-icon>person</mat-icon>
            </div>
            <h3 class="card-title mb-3">
              Hybrid
            </h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate enim neque distinctio quasi quos hic!
            </p>
            <a href="#" class="btn btn-dark">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md ">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <mat-icon>people</mat-icon>
            </div>
            <h3 class="card-title mb-3">
              In Person
            </h3>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate enim neque distinctio quasi quos hic!
            </p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Learn -->
<!-- 
<section class="p-5" id="learn" #learn>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="../../assets/fundamentals.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md p-5">
        <h2>Learn the Fundamentals</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae veniam accusamus deserunt amet unde, quibusdam rerum autem! Iure voluptates nesciunt, quis accusamus quia praesentium quaerat veritatis amet dignissimos, labore autem?
        </p>
        <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, quam nostrum consequuntur dolor voluptatibus praesentium dolorum minima a porro atque reprehenderit nemo ullam dolores in!</p>
        <a href="#" class="btn btn-dark mt-3"><mat-icon>chevron_right</mat-icon>Readmore</a>
      </div>
    </div>
  </div>
</section>

<section class="p-5 bg-dark text-light" id="learn">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      
      <div class="col-md p-5">
        <h2>Learn React</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae veniam accusamus deserunt amet unde, quibusdam rerum autem! Iure voluptates nesciunt, quis accusamus quia praesentium quaerat veritatis amet dignissimos, labore autem?
        </p>
        <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, quam nostrum consequuntur dolor voluptatibus praesentium dolorum minima a porro atque reprehenderit nemo ullam dolores in!</p>
        
        <a href="#" class="btn btn-light mt-3"><mat-icon>chevron_right</mat-icon>Readmore</a>
      </div>
      <div class="col-md">
        <img src="../../assets/react.svg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section> -->

<!-- Question Accordion -->
  <!-- <section class="p-5 " id="questions" #questions >
    <div class="container">
      <h2 class="text-center mb-4">Frequently Asked questions</h2>

      <div class="accordion accordion-flush " id="questions"> -->

        <!-- Item 1 -->
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-1">
              Where exactly are you located?
            </button>
          </h2>
          <div id="question-1" class="accordion-collapse collapse"  data-bs-parent="#questions">
            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi illo sit est voluptatibus, incidunt rem dignissimos, itaque rerum animi dolore perferendis quos, quas earum adipisci..</div>
          </div>
        </div> -->

        <!-- Item 2 -->

        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-2" >
              How much does it cost to attend?
            </button>
          </h2>
          <div id="question-2" class="accordion-collapse collapse"  data-bs-parent="#questions">
            <div class="accordion-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ratione placeat saepe nihil doloremque amet rem laboriosam asperiores vero laborum ducimus ex alias provident officia in officiis iure expedita, culpa debitis aspernatur vitae. Tempora est, dolor omnis tempore atque quasi laudantium ab nostrum, animi suscipit magni deserunt enim veritatis non.</div>
          </div>
        </div> -->

        <!-- Item 3 -->

        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-3" >
              What do i need to know?
            </button>
          </h2>
          <div id="question-3" class="accordion-collapse collapse"  data-bs-parent="#questions">
            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum placeat expedita corrupti minus ut commodi, eaque, consectetur impedit cumque unde perspiciatis sed! Possimus nesciunt repellendus fugiat qui, dicta veniam aut dolorem nisi nobis molestiae explicabo!</div>
          </div>
        </div> -->

          <!-- Item 4 -->
          
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-4" >
              How do i sign up?
            </button>
          </h2>
          <div id="question-4" class="accordion-collapse collapse"  data-bs-parent="#questions">
            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum placeat expedita corrupti minus ut commodi, eaque, consectetur impedit cumque unde perspiciatis sed! Possimus nesciunt repellendus fugiat qui, dicta veniam aut dolorem nisi nobis molestiae explicabo!</div>
          </div>
        </div> -->

        <!-- Item-5 -->
        
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-5" >
              Do you help me find a job?
            </button>
          </h2>
          <div id="question-5" class="accordion-collapse collapse"  data-bs-parent="#questions">
            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum placeat expedita corrupti minus ut commodi, eaque, consectetur impedit cumque unde perspiciatis sed! Possimus nesciunt repellendus fugiat qui, dicta veniam aut dolorem nisi nobis molestiae explicabo!</div>
          </div>
        </div>

      </div>
    </div>
  </section> -->

  <!-- Instructors -->
  <!-- <section #instructors class="p-5 bg-primary">
    <div class="container">
      <h2 class="text-center text-light">
        Our Instructors
      </h2>
      <p class="lead text-center text-white mb-5">
        Our instructors all have 4+ years experience in web development
      </p>
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/men/1.jpg" class="rounded-circle mb-3"  alt="">
              <h3 class="car-title mb-3">Lowkey</h3>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quasi, excepturi aliquid beatae eos error non ad provident exercitationem nihil rerum hic eius, aperiam debitis.</p>
              <a href="#" class="text-dark mx-1"><mat-icon>polymer</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_ethernet</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_input_svideo</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>timeline</mat-icon></a>
            </div>
          </div>
        </div>
    
  
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle mb-3"  alt="">
              <h3 class="car-title mb-3">Avicii</h3>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quasi, excepturi aliquid beatae eos error non ad provident exercitationem nihil rerum hic eius, aperiam debitis.</p>
              <a href="#" class="text-dark mx-1"><mat-icon>polymer</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_ethernet</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_input_svideo</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>timeline</mat-icon></a>
            </div>
          </div>
        </div>
     
     
        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3"  alt="">
              <h3 class="car-title mb-3">Bradon</h3>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quasi, excepturi aliquid beatae eos error non ad provident exercitationem nihil rerum hic eius, aperiam debitis.</p>
              <a href="#" class="text-dark mx-1"><mat-icon>polymer</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_ethernet</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_input_svideo</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>timeline</mat-icon></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="card bg-light">
            <div class="card-body text-center">
              <img src="https://randomuser.me/api/portraits/men/18.jpg" class="rounded-circle mb-3"  alt="">
              <h3 class="car-title mb-3">Montaz</h3>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quasi, excepturi aliquid beatae eos error non ad provident exercitationem nihil rerum hic eius, aperiam debitis.</p>
              <a href="#" class="text-dark mx-1"><mat-icon>polymer</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_ethernet</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>settings_input_svideo</mat-icon></a>
              <a href="#" class="text-dark mx-1"><mat-icon>timeline</mat-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Contact and Map -->

  <!-- <section class="p-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md">
          <h2 class="text-center mb-4">Contact Info</h2>
          <ul class="list-group list-group-flush lead">
            <li class="list-group-item">
              <span class="fw-bold">Main Location:</span>117/Siddiq Nagar/Melapalayam
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Contact No:</span>8903424281
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Enrollment Id:</span>086547123
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Enrollment Email</span>crowwnzz3@gmail.com
            </li>
          </ul>
        </div>
        <div class="col-md">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span>89/Akbar Street/Melapalayam
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Contact No:</span>8903424281
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Enrollment Id:</span>086547123
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Enrollment Email</span>crowwnzz3@gmail.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Footer -->

  <!-- <footer class="p-5 bg-dark text-center text-light position-relative">
    <div class="container">
      <p class="lead">Copyright &copy;2023 FrontEnd BootCamp</p>
      <a (click)="scroll(main)" class="position-absolute bottom-0 end-0 p-5 ">
        <mat-icon>arrow_circle_up</mat-icon>
      </a>
    </div>
  </footer> -->