<div class="master-parent">
    <section>
        <article>
            <p class="heading">Name</p>
            <p>Mohamed Ibarahim</p>
        </article>
        <article>
            <p class="heading">Department</p>
            <p>ERP</p>
        </article>
        <article>
            <p class="heading">Designation</p>
            <p>Junor software developer</p>
        </article>
        <article>
            <p class="heading">Address</p>
            <p>117/siddiq nagar/melapalayam/tirunelveli</p>
        </article>
        <article>
            <p class="heading">Date of birth</p>
            <p>15-08-2000</p>
        </article>
        <article>
            <p class="heading">Blood Group</p>
            <p>B+</p>
        </article>
    </section>
</div>