.parent{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap:24px;
}

.bshadow {

    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .5;
    
  }
  
input{
    padding:var(--padding);
    border-radius: var(--radius);
    outline: none;
    border: none;
    color: var(--text-color);
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

::ng-deep.mat-dialog-container{
    padding: 12px;
    background-color: var(--body-color);
  
}