/* .Parent{
    overflow: auto;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px;
}

.complaints-card{
    border-radius: var(--radius);
    background-color: var(--body-color);
    box-shadow: var(--btn-shadow);
    padding: 24px;
    width: 30.33%;
    border-right: 50px solid var(--primary-color);
    border-left: 20px solid var( --primary-color-light);
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left{
    width: 60%;
}

.card-right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon{
    font-size:100px;
}

h1{
    margin-bottom: 0;
    font-family: "Poppins";
    font-size: 20px;

} */

.masterParent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 2%;
}

.leftSide{
    padding: 1%;
    height: 100%;
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.rightSide{
    padding: 1%;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.leftInner{
    height: 100%;
    width: 29%;
    
}

.rightInner{
    height: 100%;
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.list{
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: var(--radius);
    color: aquamarine;
    background-color: var(--body-color);
    box-shadow: var(--btn-shadow);
    overflow: auto;
}

.lists{
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    border-radius: var(--radius);
    padding: 12px;
    transition: 0.3s;
    cursor: pointer;
}

.lists:hover{
    background-color: var(--secondnary-color);
    box-shadow: var(--btn-shadow);
}

.list-left{
    width: 80%;
    display: flex;
    gap: 10px;

}

.list-right{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-icon{
    transition: 0.3s;
}

.lists:hover .list-icon{
    transform: scale(1.3);
}

.otherImg{
    
}

.graph{
    width: 100%;
    height: 49%;
    background-color: var(--body-color);
    box-shadow: var(--btn-shadow);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;

}


.others{
    width: 100%;
    height: 49%;
    background-color: var(--body-color);
    box-shadow: var(--btn-shadow);
    border-radius: var(--radius);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}


.infoCard{
    width: 100%;
    height: 30%;
    border-radius: var(--radius);
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-color);
    box-shadow: var(--btn-shadow);
    transition: 0.5s;

}

.infoCard:hover{
    transform: scale(1.1);
}

.cardUpper{
    width: 100%;
    height: 25%;
    background-color: var(--secondnary-color);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-variant: small-caps;
    font-style: italic;
}

.cardLower{
    width: 100%;
    height: 70%;
    background-color: var(--secondnary-color);
    border-radius: var(--radius);
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cardContent{
    width: 49%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardIcon{
    width: 49%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    letter-spacing: 1px;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(4);
}

.noScrollDiv{
    overflow: hidden;
    height: 100%;
}


@media screen and (max-width:600px) {
    .masterParent{
        flex-direction: column-reverse;
        height: 150%;
        gap: 10px;
    }

    .rightSide{
        width: 68%;
        height: 130%;
    }

    .infoCard{
       height: 40%;
       margin-bottom: 10px;
       
    }

    .cardUpper{
        height: 35%;
    }

    .cardLower{
        height: 60%;
        justify-content: space-around;
    }

    .cardContent{
        width: 35%;
    }

    .cardIcon{
        width: 35%;
    }

    .icon{
            transform: scale(1);
            
    }

    .count{
        font-size: 0.8rem;
    }

    .head{
        font-size: 1rem;
    }

    .leftSide{
        flex-direction: column-reverse;
        height: 200%;
        gap: 20px;
    }

    .leftInner{
        width: 140%;
        height: 50%;

    }

    .rightInner{
        width: 100%;
        gap: 20px;

    }

    .graph{
        width: 140%;
    }

    .list{
        height: 200px;
    }

    .lists{
        padding: 6px;
    }

    ::ng-deep .mat-list-base .mat-list-item {
        font-size: small;
    }

}

