.big-parent {
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
}

/* SideNav Start */

/* Reusable Css */

.sidebar .text {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 80px;
    display: flex;
    align-items: center;
}

 .sidebar.close .text {
    font-size: 0;
}

.sidebar.close .locationDown {
    opacity: 0;
}


.sidebar.close .dropdown-menu {
    opacity: 0;
}


.sidebar.close header .toggle {
    right: -33px;
    transform: translateY(-50%);

}


.sidebar.close .menu-bar .mode .toggle-switch {
    opacity: 0;
    left: 0;
} 

.sidebar.close {
    width: 88px;
}

/*  */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--trans-05);
    z-index: 100;
    box-shadow: 7px -12px 41px -23px rgba(32, 114, 176, 1);
    -webkit-box-shadow: 7px -12px 41px -23px rgba(32, 114, 176, 1);
    -moz-box-shadow: 7px -12px 41px -23px rgba(32, 114, 176, 1);
}


.sidebar .image-text img {
    width: 60px;
    border-radius: var(--radius);
    margin-right: 12px;
    animation: imgBorders 2s infinite;
}

@keyframes imgBorders {
    0% {border: 1.5px solid var(--secondnary-color);}
    50% {border:1.5px solid var(--primary-color); }
    100% {border: 1.5px solid var(--secondnary-color);}

  }

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.header-text .profession {
    font-weight: 600;
}

.header-text .name {
    font-weight: 600;
}



.sidebar .search-box {
    background: var(--primary-color-light);
}

.search-box input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-radius: var(--radius);
    background: var(--primary-color-light);
}

.search-box .s-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 60px;
    color: var(--text-color) !important;
}

.sidebar .search-box:hover {
    background: var(--primary-color-light);
}

.sidebar li {
    margin-top: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: var(--radius);
}

.sidebar li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    transition: var(--trans-03);
}

.sidebar li a:hover {
    background: var(--primary-color);
}


.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 60px;
}

.sidebar li:hover {
    background: var(--primary-color);
    color: var(--sidebar-color);
}





.sidebar li:hover .text,
.sidebar li :hover .locationDown,
.sidebar li:hover .icon {
    color: var(--sidebar-color);

}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-02);

}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.dark .sidebar li a:hover .icon,
.dark .sidebar li a:hover .text {
    color: var(--hov);
}

.dark .sidebar li .icon,
.dark .sidebar li .text {
    color: var(--text-color);
}

.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sidebar-color);
    font-size: 22px;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
}



.sidebar .menu-bar {
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.menu-bar .mode {
    position: relative;
    border-radius: var(--radius);
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    min-width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--trans-05);
}

.menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar ul li {
    position: relative;
}

.dark .menu-bar .mode i.moon {
    opacity: 1;
}

.dark .menu-bar .mode i.sun {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 160px;
    min-width: 60px;
    cursor: pointer;
    border-radius: var(--radius);
    transition: var(--trans-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 24px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background: var(--sidebar-color);
    cursor: pointer;
    transition: var(--trans-02);
}

.dark .switch::before {
    left: 24px;
}



/* SideNav finished */

.menu-links {
    padding-left: 0;
}

.sidebar~.main {
    z-index: 1;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--trans-05);
}


.sidebar.close~.main {
    left: 88px;
    width: calc(100% - 88px);
}






.header {
    width: 100%;
    background-color: var(--secondnary-color);
    box-shadow: 7px 12px 30px -20px rgba(32, 114, 176, 1);
    -webkit-box-shadow: 7px 12px 30px -20px rgba(32, 114, 176, 1);
    -moz-box-shadow: 7px 12px 30px -20px rgba(32, 114, 176, 1);
    display: flex;
    height: 80px;
    
}


.header .left {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
}

.h-text {
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 2px;
    font-size: 2rem;
}

.header .right {
    width: 30%;

}


.btns {
    background: var(--primary-color-light);
    border: none;
    color: var(--text-color);
    padding: 5px;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--trans-05);
    font-weight: 600;
}

.btns:hover {
    background: var(--primary-color);
    color: var(--primary-color-light);
}





.content {
    padding: 2%;
    padding-top: 4%;
    overflow: auto;
}



.locationDown {
    background: none;
    border: none;
    font-size: 22px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: var(--text-color);
    width: 25px;
    height: 25px;
}

.locationDown:hover {
    color: var(--body-color);
    background: rgba(166, 234, 255, 0.5);
    border-radius: 18px;
}

.drpdown-menu {
    display: flex;
    justify-content: center;
    height: 150px;
    overflow: auto;
    position: absolute;
    left: 110px;
    top: 630px;
    background: var(--secondnary-color);
    padding: 12px;
    border-radius: var(--radius);
    margin-top: 2px;
    transition: 1s;
    border: none;
}

.drpdown-menu li {
    background: var(--body-color);
    margin: 0;
    margin-bottom: 4px;
    padding: 4px 4px;
    height: 25px;
    font-size: 15px;
}

.drpdown-menu li a {
    padding: 8px;
    color: var(--text-color);
}

.drpdown-menu li a:hover {
    color: var(--hov);
}



/* Media Query For 600px */
@media screen and (max-width:600px) {

    .h-text {
        font-size: 1rem;
    }

    .sidebar .menu-bar .mode .toggle-switch {
        transform: scale(0.6);
    }

    .switch::before {
        left: 4px;
    }

    .dark .switch::before {
        left: 4px !important;
    }

    .toggle-switch .switch {
        height: 22px;
        width: 22px;
    }

    .menu-bar .mode .toggle-switch {
        min-width: 40px;
        left: 90px;

    }

    .header {
        flex-direction: column;
        height: 55px;
    }

    .main .text {
        font-size: 1.5rem;
    }

    .sidebar li .icon {

        transform: scale(0.6);
    }

    .search-box .s-icon {
        transform: scale(0.6);
    }


    .sidebar .text {
        font-size: 10px;
    }

    .sidebar {
        width: 150px
    }

    .sidebar.close {
        width: 68px;
    }

    .sidebar .image-text img {
        width: 40px !important;
    }

    .sidebar li .icon {
        min-width: 40px !important;
    }

    .search-box .s-icon {
        min-width: 40px !important;
    }

    .menu-bar .mode .moon-sun {
        min-width: 40px !important;
    }

    .sidebar .image {
        min-width: 40px;
    }

    .search-input {
        font-size: 10px;
    }

    .dropdown-icon {
        transform: scale(0.6);
    }

    .sidebar~.main{
        left: 150px !important;
    width: calc(100% - 150px) !important;

    }

    .sidebar.close~.main {
        left: 68px !important;
        width: calc(100% - 68px) !important;
    }

    .sidebar li{
        margin-top: 10px;
    }

    ::ng-deep.mat-paginator-range-actions{
        display: block!important;
    }

    ::ng-deep.mat-paginator-page-size-label{
        font-size: 0px;
    }

    ::ng-deep.mat-paginator-range-label{
       display: none; 
    }
}

::ng-deep .mat-select-panel{
    background-color:var(--body-color);
}
