<div class="master-parent">
    <div class="inner-parent">
        <div class="left-circle"></div>
        <div class="center-circle">
            <div class="total innerCard">
                <div class="head">Total</div>
                <div class="content">165</div>
            </div>
            <div class="process innerCard">
                <div class="head">Process</div>
                <div class="content">45</div>
            </div>
            <div class="pending innerCard">
                <div class="head">Pending</div>
                <div class="content">120</div>
            </div>
        </div>
        <div class="right-circle"></div>
    </div>
</div>

<!-- <div class="container">
    <div class="box"></div>
    <div class="box overlay"></div>
  </div> -->