<div class="Parent">
    <div class="cards">
        <div class="complaints-card">

            <div class="card-left">
                <h1 class="card-title">Total Complaints</h1>
                <h1 class="card-content">65</h1>
            </div>
            
            <div class="card-right">
                <mat-icon class="icon">feedback</mat-icon>
            </div>

        </div>
        <div class="complaints-card">
            <h1 class="card-title">Completed</h1>
            <h1 class="card-content">45</h1>
        </div>
        <div class="complaints-card">
            <h1 class="card-title">Pending</h1>
            <h1 class="card-content">20</h1>
        </div>
    </div>
    <div class="content">
        <div class="graph"></div>
        <div class="complaint-description"></div>
    </div>
</div>