<!-- <div class="Parent">
    <div class="cards">
        <div class="complaints-card">

            <div class="card-left">

                <h1 class="card-title">Total ComplainT</h1>



                <h1 class="card-content">65</h1>
            </div>
            
            <div class="card-right">
                <mat-icon class="icon">feedback</mat-icon>
            </div>

        </div>
        <div class="complaints-card">
            <h1 class="card-title">Completed</h1>
            <h1 class="card-content">45</h1>
        </div>
        <div class="complaints-card">
            <h1 class="card-title">Pending</h1>
            <h1 class="card-content">20</h1>
        </div>
    </div>
    <div class="content">
        <div class="graph"></div>
        <div class="complaint-description"></div>
    </div>

</div> -->


<div class="masterParent">
    <div class="leftSide">
        <div class="leftInner">
             <div class="list">List</div>
        </div>
        <div class="rightInner">
            <div class="graph">Grapgh</div>
        <div class="others">Others</div>
        </div>  
    </div>
    <div class="rightSide">
        <div class="infoCard">
            <div class="cardUpper">
                   <div class="cardTitle">
                        <div class="head">Complaints</div>
                   </div>
            </div>
            <div class="cardLower">
                <div class="cardContent">
                    <div class="count">
                        0000
                    </div>
                </div>
                <div class="cardIcon">
                    <div class="icon">
                        <mat-icon>home</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="infoCard">
            <div class="cardUpper">
                <div class="cardTitle">
                    <div class="head">Completed</div>
               </div>
            </div>
            <div class="cardLower">
                <div class="cardContent">
                    <div class="count">
                        0000
                    </div>
                </div>
                <div class="cardIcon">
                    <div class="icon">
                        <mat-icon>home</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="infoCard">
            <div class="cardUpper">
                <div class="cardTitle">
                    <div class="head">Pending</div>
               </div>
            </div>
            <div class="cardLower">
                <div class="cardContent">
                    <div class="count">
                        0000
                    </div>
                </div>
                <div class="cardIcon">
                    <div class="icon">
                        <mat-icon>home</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button mat-button class="footerPage position-absolute bottom-0 end-0 " (click)="footerDialog()">
        <mat-icon>home</mat-icon>
    </button>
</div>