<button class="closeBtn" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
<div class="parent">
  <div class="header">
    <div class="main-header">
      <h1>
        Feedback Management App
      </h1>
    </div>
    <div class="sub-header">
      Created by DSRT Team
    </div>
  </div>
  <div class="content">
    <div class="leftside">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
    </div>
    
   <div class="centerLine"></div>

    <div class="rightside">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt</p>
    </div>  
  </div>

</div>

<footer class="footer">
  © 2023 DSRT, Inc.
</footer>