.master-parent{
    max-height: 90vh;
    min-height: 10px;
}

h1{
    color: var(--text-color);
    font-variant: small-caps;
    margin-bottom: 0px !important;
    font-family: "Poppins" !important;
}

.closeBtn{
    position: absolute;
    background: none;
    border: none;
    padding: 12px;
    
    color: var(--primary-color);
    transition: 0.2s;
    border-radius: 50%;
}

.closeBtn:hover{
    background-color: var(--primary-color-light);
}

.parent{
    background-color:rgb(193, 234, 250);
    color: var(--text-color);
    
}

.header{
    width: 100%;
    height: 20%;
    background-color: var(--secondnary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
    padding: 2%;
    border-radius: var(--radius);
    text-align: center;
    overflow: auto;

}

.main-header{
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 10px;
  font-weight: 600;
}

.content{
    padding: 2%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.centerLine{
    height: 250px;
    border:1px solid var(--text-color) ;
}


p{
    background-color: none;
    color: var(--text-color);
    transition: 0.2s;
    border-radius: var(--radius);
    padding: 6px;
}

p:hover{
    background-color: var(--text-color);
    color: var(--hov);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--secondnary-color);
    padding: 12px;
    color: var(--text-color);
}

@media screen and (max-width:600px) {
    .content{
        flex-direction: column;
    }

    .closeBtn{
        display: none;
    }

    .centerLine{
        height: 2px;
        width: 100%;
        background-color: var(--text-color);
    }
 

 
}

::ng-deep .mat-dialog-container {
    background-color: var(--body-color);
    padding:  24px ;
}